* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 10px;
}

@import "colors.css";

window#waybar {
  background: rgba(0, 0, 0, 0);
}

tooltip {
  background: @surface;
  color: @on_surface;
  border-radius: 7px;
  border-width: 0px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  color: @on_surface;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  background: @inverse_surface;
  color: @inverse_on_surface;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
  background: @primary_container;
  color: @on_primary_container;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#custom-cloudflare,
#power-profiles-daemon,
#custom-night-light,
#battery,
#clock,
#memory,
#network,
#custom-power,
#pulseaudio,
#window,
#workspaces {
  color: @on_surface;
  background: @surface_container;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#battery.charging {
  background: @tertiary_fixed;
  color: @on_tertiary_fixed;
}

#battery.discharging.warning {
  color: @on_error;
  background: @error;
  opacity: 0.9;
}

#battery.discharging.critical {
  color: @on_error;
  background: @error;
}

#custom-cloudflare.active {
  color: @on_primary_fixed;
  background: @primary_fixed;
}